<div class="container">
    <h1> Ecco cosa puoi fare da amministratore</h1>
    <button class="key" (click)="onSubmitAU()">Aggiungi utente</button>
    <button class="key" (click)="onSubmitAC()">Aggiungi cassonetto</button>
<!--    <button class="key" (click)="onSubmitMC()">Modifica stato cassonetto</button>-->
<!--    <button class="key" (click)="onSubmitEC()">Elimina cassonetto</button>-->
<!--    <button class="key" (click)="onSubmitEU()">Elimina utente</button>-->
    <button class="key" (click)="onSubmitVU()">Visualizza utenti</button>

    <button class="key" (click)="onSubmitVC()">Visualizza cassonetti</button>

</div>
