<div class="container">
  <h1> Effettua la registrazione </h1>
  <label class="label">ID:</label> <br>
  <input type="text" [(ngModel)]="utente.id"> <br>
  <label class="label">NOME:</label> <br>
  <input type="text" [(ngModel)]="utente.nome"> <br>
  <label class="label">COGNOME:</label> <br>
  <input type="text" [(ngModel)]="utente.cognome"> <br>
  <label class="label">EMAIL:</label> <br>
  <input type="text" [(ngModel)]="utente.email"> <br>
  <label class="label">ETA:</label> <br>
  <input type="text" [(ngModel)]="utente.eta"> <br>
  <label class="label">USERNAME:</label> <br>
  <input type="text" [(ngModel)]="utente.username"> <br>
  <label class="label">PASSWORD:</label> <br>
  <div class="label-container">
    <input type="{{showPassword ? 'text' : 'password'}}" [(ngModel)]="utente.password" class="password-input"> <br>
    <button (click)="showPassword = !showPassword" class="password-btn">
      {{ showPassword ? 'Nascondi' : 'Mostra' }}
    </button>
  </div>
  <label class="label1">RUOLO:</label> <br>
  <input type="text" [(ngModel)]="utente.ruolo"> <br>
  <label class="label">INDIRIZZO:</label> <br>
  <input type="text" [(ngModel)]="utente.indirizzo"> <br>
  <label class="label">CARD:</label> <br>
  <input type="text" [(ngModel)]="utente.card"> <br>
  <button class="key" (click)="onSubmit()">Registrati</button>
</div>
