
<div class="percorso">
  <h1>Inserisci data in cui stai instanziando il percorso</h1>
  <label class="label"> ID: </label> <br>
  <input type="text" [(ngModel)]="percorso.id"> <br>
  <label class="label"> Percorso: </label> <br>
  <input type="text" [(ngModel)]="percorso.percorso"> <br>
  <label class="label"> Data: </label> <br>
  <input type="text" [(ngModel)]="percorso.date"> <br>
  <button class="key" (click)="onSubmit()">Emetti Percorso</button>
  <button class="key" (click)="onSubmit1()">Torna alla home</button>
</div>
