.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.key{
  background: lightpink;
  margin-right: 10px;
}

h1{
  color: hotpink;
}

p{
  color: black;
}
